{% extends "layout.html" %}

{% macro input(name, value, label="") %}
  {% if label == "" %}{% set label = name %}{% endif %}
  {{ label }}: <input type="text" id="{{ name }}Input" value="{{ value }}" /><br>
{% endmacro %}

{% block paymentForm %}
  <div>
    <h3>Make a split payment</h3>
    <div class="">
      <div class="client-form">
        <p><b>Account Holder Split</b></p>
        {{ input("SplitAmount", "1000", "Amount") }}
        {{ input("SplitCurrency", "USD", "Currency") }}
        {{ input("AccountCode", "") }}
      </div>
      <div class="client-form">
        <p><b>Liable Account Split</b></p>
        {{ input("CommissionAmount", "1000", "Amount") }}
        {{ input("CommissionCurrency", "USD", "Currency") }}
      </div>
    </div>
    <button id="payBtn">Pay</button>
  </div>
{% endblock %}

{% macro accountHolder(accountHolderData) %}
  {{ accountHolderData }}
{% endmacro %}

{% block accountHolderBlock %}
  {% for accountHolderData in accountHoldersList %}
    <div class="accountHolderData">
      {{ accountHolder(accountHolderData) }}
    </div>
  {% endfor %}
{% endblock %}
