{% extends "layout.html" %}

{% macro input(name, value, label="") %}
  {% if label == "" %}{% set label = name %}{% endif %}
  {{ label }}: <input type="text" id="{{ name }}Input" value="{{ value }}" /><br>
{% endmacro %}

{% block paymentForm %}
  <div class="split-payment-form">
    <h2>Make a split payment</h2>
    <div class="">
      <div class="split-payment-form__split">
        <p><b>Marketplace Split</b></p>
        {{ input("splitAmount", "900", "Amount") }}
        {{ input("splitCurrency", "USD", "Currency") }}
        {{ input("splitAccountCode", accountsList.keys()|first, "Account code") }}
      </div>
      <div class="split-payment-form__split">
        <p><b>Commission Split</b></p>
        {{ input("commissionAmount", "100", "Amount") }}
        {{ input("commissionCurrency", "USD", "Currency") }}
        {{ input("commissionAccountCode", "", "Account code") }}
      </div>
    </div>
    <button id="payBtn">Pay</button>
  </div>
{% endblock %}
