{% extends "layout.html" %}

{% macro input(name, value, label="") %}
  {% if label == "" %}{% set label = name %}{% endif %}
  {{ label }}: <input type="text" id="{{ name }}Input" value="{{ value }}" /><br>
{% endmacro %}

{% block paymentForm %}
  <div class="split-payment-form">
    <h2>Make a split payment</h2>
    <div class="">
      <div class="split-payment-form__split">
        <p><b>Account Holder Split</b></p>
        {{ input("SplitAmount", "1000", "Amount") }}
        {{ input("SplitCurrency", "USD", "Currency") }}
        {{ input("AccountCode", "") }}
      </div>
      <div class="split-payment-form__split">
        <p><b>Liable Account Split</b></p>
        {{ input("CommissionAmount", "1000", "Amount") }}
        {{ input("CommissionCurrency", "USD", "Currency") }}
        {{ input("AccountCode", "") }}
      </div>
    </div>
    <button id="payBtn">Pay</button>
  </div>
{% endblock %}
